/* Base.css */
.base-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .logo-container {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  
  .foodies-unite-logo {
    max-width: 300px;
  }
  
  .nav-buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
  }
  
  .button {
    background-color: var(--primary); /* Primary color from PicoCSS */
    color: black;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--primary-dark); /* Darker primary color for hover effect */
  }

  section {
    overflow: hidden;
  }

  section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../assets/images/wave.png);
    background-size: 1000px 100px;
  }

  section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }

  section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }

  section .wave.wave3 {
    animation: animate2 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }

  section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }

  @keyframes animate {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
  }

  @keyframes animate2 {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }
  }